.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 22px;
  color: #222;
  font-weight: 600;
  text-align: center;
  margin: 5px 0 15px 0;
}

.imageWrapper {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImage {
  max-width: 95%;
  max-height: calc(100vh - 300px);
  width: auto;
  height: auto;
  display: block;
  border-radius: 10px;
  object-fit: contain;
  margin: 0 auto;
}

.noImage {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin: 40px 0;
}

.footer {
  margin-top: 15px;
  width: 100%;
}

/* ⭐ Thêm mới class này để SVG nằm đè lên ảnh */
.overlaySvg {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;  */
      pointer-events: none;
    width: 71%;
    height: 75%;
    position: absolute;
    top: 110px;
    left: 150px;
}

.overlaySvg path, 
.overlaySvg g {
  pointer-events: auto;
}

.overlaySvg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlaySvg1 path, 
.overlaySvg1 g {
  pointer-events: auto;
}
.overlaySvg2 {
  position: absolute;
  top: 23%;
  left: 24.5%;
  pointer-events: none;
}

.overlaySvg2 path, 
.overlaySvg2 g {
  pointer-events: auto;
}
.overlaySvg4 {
  position: absolute;
  top: -18%;
  left: 41%;
  pointer-events: none;
}

.overlaySvg4 path, 
.overlaySvg4 g {
  pointer-events: auto;
}