/* .wrapper {
  background: linear-gradient(180deg, #eef2f3 0%, #dfe6ea 100%);
  min-height: 100vh;
  padding: 60px 20px;
} */

.pageTitle {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #294B61;
  margin-bottom: 40px;
  letter-spacing: 6px;
}

/* Card xanh */
.card {
  max-width: 900px;
  margin: auto;
  /* background: #FFFAEE; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Title trong card */
.cardTitle {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Grid 2 cột */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

/* Input Mantine */
.input :global(.mantine-TextInput-label) {
  color:#294B61;
  margin-bottom: 6px;
}

.input :global(input) {
  /* background: #e6eaed;
  border: none; */
  height: 42px;
}

/* Textarea */
.textarea :global(.mantine-Textarea-label) {
  color:#294B61;
}

.textarea :global(textarea) {
  /* background: #e6eaed;
  border: none; */
}

/* Button vàng */
.submitBtn {
  margin-top: 20px;
  width: 100%;
  height: 46px;
  background:#294B61;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
}

.submitBtn:hover {
  background: #406C89;
}

/* ================= */
/* Responsive Tablet */
/* ================= */

@media (max-width: 1024px) {
  .card {
    padding: 30px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
