.container {
  width: 100%;
  max-width: 1300px;
    margin: 0px auto;
}

.title {
  font-size: 28px;
  color: #222;
  font-weight: 600;
  /* margin-bottom: 20px; */
  /* letter-spacing: 0.5px;
  text-transform: capitalize; */
  padding-left: 150px;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  padding: 16px;

  /* ⭐ Thêm dòng này để SVG đè lên được */
  position: relative;
}

.projectImage {
  /* width: 100%; */
  height: auto;
  display: block;
  border-radius: 10px;
  object-fit: contain;
}

/* ⭐ Thêm mới class này để SVG nằm đè lên ảnh */
.overlaySvg {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  height: auto;
  pointer-events: none; 
}

.overlaySvg path, 
.overlaySvg g {
  pointer-events: auto;
}

.overlaySvg1 {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  height: auto;
  pointer-events: none;
}

.overlaySvg1 path, 
.overlaySvg1 g {
  pointer-events: auto;
}
.overlaySvg2 {
  position: absolute;
  top: 23%;
  left: 24.5%;
  pointer-events: none;
}

.overlaySvg2 path, 
.overlaySvg2 g {
  pointer-events: auto;
}
.overlaySvg4 {
  position: absolute;
  top: -18%;
  left: 41%;
  pointer-events: none;
}

.overlaySvg4 path, 
.overlaySvg4 g {
  pointer-events: auto;
}